.clear{
	clear:both;
}
input:required {
	border: 1px solid red;
}

html{
background: url(../img/background.png);
font-size: 10pt;
}
ul,ol{
	margin:0
}

.header {
	background:#1BCD9C;
	padding:1.5% 0;
}
.main{
	background: url(../img/background.png);
	font-size: 11pt;
}
.header-left{
	float:left;
	width:59%
}
.logo{
	float:left;
	margin-right:2%
}
.menu{
	float:left;
	margin:17px 0 0;
}
.menu li:first-child{
	margin-left:0;
}
.menu li{
	display:inline-block;
}
#nav .current a {
	 color:green;
}
.nav:before, .nav:after{
content: " ";
display:table;
}
.nav:after{
clear: both;
}

label{
	display:block;
	color:#999;
	}
.cf:before,
.cf:after{
	content:"";
	display:table;
	}
.cf:after{
	clear: both;
	}
.cf{
	*zoom:1;
	}
:focus{
	outline:0;
	}
.space{
padding-top:70px;
}
.loginform {
	width: 600px;
	margin: 0 auto;
	padding: 97px;
	background-color: rgba(243,250,191,0.5);
	border-radius: 30px;
    box-shadow: 58px 43px 101px 0px rgba(0, 0, 0, 0.2), 
    			inset 0px 1px 0px 0px rgba(250, 250, 250, 0.5);
    border: 8px solid rgba(0, 0, 0, 0.3);
}
.loginform ul{
	padding:0;
	margin:0;
}
.loginform li{
	display:inline;
	float: left;
}


.loginform input:not([type=submit]) {
	padding: 5px;
	margin-right: 10px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 
				0px 1px 0px 0px rgba(250, 250, 250, 0.5) ;
}

.loginform input[type=submit] {
	border: 1px solid rgba(0, 0, 0, 0.3);
	background: #64c8ef; /* Old browsers */
	background: -moz-linear-gradient(top,  #64c8ef 0%, #00a2e2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#64c8ef), color-stop(100%,#00a2e2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #64c8ef 0%,#00a2e2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c8ef', endColorstr='#00a2e2',GradientType=0 ); /* IE6-9 */
	color: #fff;
	padding: 5px 15px;
	margin-left: 310px;
	margin-right: 0;
	margin-top: 20px;
	border-radius: 3px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}
.searchform {
	width: 600px;
	margin: 0 auto;
	padding: 23px;
	background-color: rgba(243,250,191,0.5);
	border-radius: 30px;
    box-shadow: 58px 43px 101px 0px rgba(0, 0, 0, 0.2), 
    			inset 0px 1px 0px 0px rgba(250, 250, 250, 0.5);
    border: 8px solid rgba(0, 0, 0, 0.3);
}
.searchform ul{
	padding:0;
	margin:0;
}
.searchform li{
	display:inline;
	float: left;
}
#bar{
	display:inline;
	float: left;
}
#submit{
	display:inline;
	float: right;
	margin-top:0;
	margin-left:7px;
	margin-bottom:15px;
}
.searchform input:not([type=submit]) {
	padding: 4px;
	margin-right: 10px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 
				0px 1px 0px 0px rgba(250, 250, 250, 0.5) ;
}

.searchform input[type=submit] {
	border: 1px solid rgba(0, 0, 0, 0.3);
	background: #64c8ef; /* Old browsers */
	background: -moz-linear-gradient(top,  #64c8ef 0%, #00a2e2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#64c8ef), color-stop(100%,#00a2e2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #64c8ef 0%,#00a2e2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c8ef', endColorstr='#00a2e2',GradientType=0 ); /* IE6-9 */
	color: #fff;
	padding: 5px 15px;
	margin-left: 310px;
	margin-right: 0;
	margin-top: 20px;
	border-radius: 3px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}
.text {
width: 100%;
float: right;
}
.text input[type="text"], .text textarea {
width: 100%;
font-size: 18px;
margin: 10px 0;
color: #1BCD9C;
font-family: 'Open Sans', sans-serif;
outline: none;
background: transparent;
height: 100px;
padding: 10px;
resize: none;
border: 2px solid #23BB91;
}
.message,.showfriends {
float: left;
width: 50%;
}
.showmessage,.showusername,.viewmsg {
float: left;
width: 51%;
}

.showfriends ul{
	padding:0;
	margin:0;
}
.showfriends li{
	display:inline;
	float: left;
}
.showusername li{
	display:inline;
	float: left;
}
.form-submit {
float: right;
}
.form-submit input[type="submit"] {
color: #FFF;
font-family: 'Open Sans', sans-serif;
font-size: 0.95em;
font-weight: normal;
padding: 15px 40px;
text-transform: uppercase;
background: #1BCD9C;
display: inline-block;
-webkit-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
-ms-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
font-weight: 100;
border: none;
cursor: pointer;
outline: none;
}